html {
  height: 100%;
  width: 100%;  }
body {
    text-align: center;
    background-color:black;
    color: white;
    width: auto;
    height: auto;
    align-items: center;
    background-size: 100% 100%;
    background-image: radial-gradient(circle at center, #98636B 0, #BE813E, #7A7F69,#302B3F ,black);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
header {
  width: auto;
  height: auto;
  }

main {
      background-color: rgba(0, 0, 0, .5) ;
      color: white;
      font-size: 20px;
      font-family: ;
      margin: auto;
      width: 600px;
      height: auto;
      text-align: center;
      padding: 10px;

    }

article {
  color: white;
  text-align: center;
  list-style-position: inside;
}

div {
  color: black;
  text-align: center;
  background-image: url(https://cdn.vanderbilt.edu/vu-news/files/20190417213422/Communication-Skills-workshop.png);
  background-repeat: no-repeat;
  background-position: center;
  list-style-position: inside;
}
  

